{{>partials/header}}

    <section class="banner" style="background-image: url('images/hero.jpg')">Diversos automóveis esperando por você!</section>
<h2>Todos os animais disponíveis para adoção</h2>

<div class="container list">
    <div class="item">
        <img src="images/carros/agile-chevrolet.jpg" class="item--image" />
        <div class="item--name">Agile</div>
        <div class="item--brand">Chevrolet</div>
        <div class="item--color">Cor: Azul</div>
        <div class="item--genre">Ano: 2018</div>
    </div>
    <div class="item">
        <img src="images/carros/cobalt-chevrolet.webp" class="item--image" />
        <div class="item--name">Cobalt</div>
        <div class="item--brand">Chevrolet</div>
        <div class="item--color">Cor: Azul</div>
        <div class="item--genre">Ano: 2018</div>
    </div>
    <div class="item">
        <img src="images/carros/commander-jeep.jpg" class="item--image" />
        <div class="item--name">Commander</div>
        <div class="item--brand">Jeep</div>
        <div class="item--color">Cor: Azul</div>
        <div class="item--genre">Ano: 2018</div>
    </div>
    <div class="item">
        <img src="images/carros/compass-jeep.png" class="item--image" />
        <div class="item--name">Compass</div>
        <div class="item--brand">Jeep</div>
        <div class="item--color">Cor: Azul</div>
        <div class="item--genre">Ano: 2018</div>
    </div>
    <div class="item">
        <img src="images/carros/cruze-chevrolet.webp" class="item--image" />
        <div class="item--name">Cruze</div>
        <div class="item--brand">Chevrolet</div>
        <div class="item--color">Cor: Azul</div>
        <div class="item--genre">Ano: 2018</div>
    </div>
    <div class="item">
        <img src="images/carros/agile-chevrolet.jpg" class="item--image" />
        <div class="item--name">Agile</div>
        <div class="item--brand">Chevrolet</div>
        <div class="item--color">Cor: Azul</div>
        <div class="item--genre">Ano: 2018</div>
    </div>
    <div class="item">
        <img src="images/carros/cobalt-chevrolet.webp" class="item--image" />
        <div class="item--name">Cobalt</div>
        <div class="item--brand">Chevrolet</div>
        <div class="item--color">Cor: Azul</div>
        <div class="item--genre">Ano: 2018</div>
    </div>
    <div class="item">
        <img src="images/carros/commander-jeep.jpg" class="item--image" />
        <div class="item--name">Commander</div>
        <div class="item--brand">Jeep</div>
        <div class="item--color">Cor: Azul</div>
        <div class="item--genre">Ano: 2018</div>
    </div>
    <div class="item">
        <img src="images/carros/compass-jeep.png" class="item--image" />
        <div class="item--name">Compass</div>
        <div class="item--brand">Jeep</div>
        <div class="item--color">Cor: Azul</div>
        <div class="item--genre">Ano: 2018</div>
    </div>
    <div class="item">
        <img src="images/carros/cruze-chevrolet.webp" class="item--image" />
        <div class="item--name">Cruze</div>
        <div class="item--brand">Chevrolet</div>
        <div class="item--color">Cor: Azul</div>
        <div class="item--genre">Ano: 2018</div>
    </div>
    <div class="item">
        <img src="images/motos/2022-BMW-S1000RR.jpg" class="item--image" />
        <div class="item--name">S1000RR</div>
        <div class="item--brand">BMw</div>
        <div class="item--color">Cor: Azul</div>
        <div class="item--genre">Ano: 2022</div>
    </div>
    <div class="item">
        <img src="images/motos/cg-fan.jpg" class="item--image" />
        <div class="item--name">CG Fan 160</div>
        <div class="item--brand">Honda</div>
        <div class="item--color">Cor: Azul</div>
        <div class="item--genre">Ano: 2018</div>
    </div>
</div>

{{>partials/footer}}